.bg-trivia {
  background-color: #283642;
  min-height: 100vh;
}

.bg-card {
  background-color: #00212b;
}

.cardWrapper {
  padding-top: 10vh;
  
}

.card {
  /* min-height: 80vh; */
}

.blue-color {
  color: #00b3ff;
}

.green-color {
  color: rgba(0,255,234,.76);
}

.yellow-color {
  color: #859900
}

/* 00212b */
/* Question box */